<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoric.jovan.randomnumbergenerator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zoric.jovan.randomnumbergenerator.SecondActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.zoric.jovan.randomnumbergenerator.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zoric.jovan.randomnumbergenerator.MainActivity"/>

        </activity>
    </application>

</manifest>